
<!-- Header Primary Nav Navbar -->
<ul class="navbar-nav w-100 d-flex justify-content-between">
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Patterns
          </a>
          <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
          </ul>
     </li>
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               How-To
          </a>
          <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
          </ul>
     </li>
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Videos & TV
          </a>
          <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
          </ul>
     </li>
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Podcasts
          </a>
          <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
          </ul>
     </li>
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Inspiration
          </a>
          <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
          </ul>
     </li>
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Shop
          </a>
          <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
          </ul>
     </li>
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               About
          </a>
          <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
               <li><a class="dropdown-item" href="#">Link</a></li>
          </ul>
     </li>
</ul>
