
<!-- Header Sub Nav -->
<section id="subNav" class="bg-primary">
     <div class="container-lg d-flex align-items-center justify-content-between">
          <nav class="navbar navbar-expand-md navbar-dark">
               <a class="btn btn-primary d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav">
                    <i class="fa-solid fa-bars"></i>
               </a>

               <div class="collapse navbar-collapse" id="navbarColor02">
                    {{> partials/structure/header/sub-nav-navbar}}
               </div>
          </nav>
          <nav class="navbar navbar-expand navbar-dark">
               <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav small">
                         <li class="nav-item">
                              <a href="#" class="nav-link" title="Search"><i class="fa-light fa-magnifying-glass"></i></a>
                         </li>
                         <li class="nav-item">
                              <a href="#" class="nav-link position-relative" title="Shopping Cart">
                                   <i class="fa-light fa-shopping-cart"></i><span class="position-absolute start-100 translate-middle badge rounded-pill bg-primary border border-white border-opacity-10"><small>1</small></span>
                              </a>
                         </li>
                         <div class="vr mx-3 h-50 my-auto bg-white"></div>
                         <li class="nav-item">
                              <a href="#" class="nav-link" title="Newsletter">Login/Register</a>
                         </li>
                    </ul>
               </div>
          </nav>
     </div>
</section>
