
<!-- Breadcrumb Navigation -->
<section id="breadcrumbNav" class="bg-light py-3">
     <div class="container-xl">
          <div class="row align-items-center">
               <nav class="col-lg-8" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb d-flex align-items-center justify-content-center justify-content-lg-start fw-normal">
                         <li class="breadcrumb-item">
                              <a href="index.html" class="text-decoration-none link-primary opacity-50">Home</a>
                              <i class="fa-light fa-caret-right text-primary text-opacity-50 fa-caret-right"></i>
                         </li>
                         <li class="breadcrumb-item active">
                              <a class="text-decoration-none link-primary opacity-50">Magazines & eBooks</a>
                              <i class="fa-light fa-caret-right text-primary text-opacity-50 fa-caret-right"></i>
                         </li>
                         <li class="breadcrumb-item active">
                              <a class="text-decoration-none link-primary opacity-50">Magazines Magazine Issues</a>
                              <i class="fa-light fa-caret-right text-primary text-opacity-50 fa-caret-right"></i>
                         </li>
                         <li class="breadcrumb-item active" aria-current="page">
                              Quick + Easy Quilts October
                         </li>
                    </ol>
               </nav>
               {{> partials/content/nav-purchase-type}}
          </div>
     </div>
</section>
