
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>{{title}} - Quick + Easy Quilts October/November 2022 | Quilting Daily</title>
     <!-- Favicon -->
     <link rel="icon" href="{{webRoot}}/favicon.ico">
     <!-- Main JS -->
     <script type="module" src="{{webRoot}}/js/main.js"></script>
     <!-- Font Awesome -->
     <script src="https://kit.fontawesome.com/e30d92bf89.js" crossorigin="anonymous"></script>
     <!-- Owl Carousel -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
</head>
<body>
     {{> partials/structure/header }}
     {{> partials/structure/breadcrumb}}

     <!-- Body Content Start -->
     <main id="commerceWrapper">
