
<section id="magazineReviews" class="bg-white pb-4">
     <div class="container-xl">
          <div class="row">
               <div class="col-12 py-4">
                    <h5 class="mt-3">Reviews from Readers</h5>
               </div>
               <div class="col">
                    <div class="magazine-reviews-carousel owl-carousel owl-theme">

                         <figure class="magazine-review card border-0">
                              <div class="card-body">
                                   {{> partials/components/star-rating-single-review}}
                                   <h6 class="card-title text-primary">Firstname L.</h6>
                                   <h6 class="card-subtitle mb-2 text-muted small">City, ST</h6>
                                   <p class="card-text small">"I've learned so much from this magazine!"</p>
                              </div>
                         </figure>

                         <figure class="magazine-review card border-0">
                              <div class="card-body">
                                   {{> partials/components/star-rating-single-review}}
                                   <h6 class="card-title text-primary">Firstname L.</h6>
                                   <h6 class="card-subtitle mb-2 text-muted small">City, ST</h6>
                                   <p class="card-text small">"Insightful, informative, and a pleasure to read!"</p>
                              </div>
                         </figure>

                    </div>
               </div>
          </div>
     </div>
</section>