
<figure id="productReviews" class="p-3 my-3 my-lg-4 rounded-3 border border-dark border-opacity-10 position-relative bg-light">
     {{!-- <div class="bg-white rounded-3 py-2 px-3 small border w-50 mt-n1">
          {{> partials/components/star-rating}}
     </div> --}}
     <figcaption class="fw-light small">What people are saying...</figcaption>
     <div id="reviewBox" class="p-3 pb-2">
          <div id="reviewHeadlineCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
               <div class="carousel-inner">
                    <div class="carousel-item active">
                         <h6 class="fst-italic m-0">"I've learned so much from this magazine!"</h6>
                    </div>
                    <div class="carousel-item">
                         <h6 class="fst-italic m-0">"Insightful, informative, and a pleasure to read!"</h6>
                    </div>
                    <div class="carousel-item">
                         <h6 class="fst-italic m-0">"If you love quilting, this is the magazine for you."</h6>
                    </div>
               </div>
          </div>
     </div>
</figure>