
<div id="productTitle" class="d-flex align-items-center align-items-md-end justify-content-between mb-4">
     <div id="title" class="me-3 position-relative">
          <h4 class="fw-bolder">Quick + Easy Quilts</h4>
          <h6 id="edition" class="text-primary">Edition: October/November 2022</h6>
          <div class="small mb-1 text-muted visually-hidden">SKU: EQEQ22004</div>
     </div>
     <div id="price">
          <h5 class="fs-2 text-primary position-relative">
               <span class="position-absolute top-50 start-0 fs-6 mt-n2 pe-2 lh-1 translate-middle">$</span>9.99
          </h5>
     </div>
</div>
