
<section id="relatedProducts">
     <div class="container-xl">
          <div class="row">
               <div class="col-12 pb-3">
                    <h5 class="mt-3">Frequently Bought Together</h5>
               </div>
               <div class="col">
                    <div class="related-product-carousel owl-carousel owl-theme">

                         <figure class="related-product card p-2 pt-0 border-0">
                              <img src="/images/MQ2210_COVER.jpg" alt="McCall's Quilting" class="img-fluid" />
                              <div class="card-body p-0 pt-3">
                                   <h6 class="card-title text-primary">McCall's Quilting</h6>
                                   <a href="" class="btn btn-primary btn-sm m-0">Buy Now <span class="text-muted ms-2 me-2">|</span> <sup>$</sup>9.99</a>
                              </div>
                         </figure>

                         <figure class="related-product card p-2 pt-0 border-0">
                              <img src="/images/LOQ_20221001.jpg" alt="Love of Quilting" class="img-fluid" />
                              <div class="card-body p-0 pt-3">
                                   <h6 class="card-title text-primary">Love of Quilting</h6>
                                   <a href="" class="btn btn-primary btn-sm m-0">Buy Now <span class="text-muted ms-2 me-2">|</span> <sup>$</sup>9.99</a>
                              </div>
                         </figure>

                         <figure class="related-product card p-2 pt-0 border-0">
                              <img src="/images/QM_20221001.jpg" alt="Quiltmaker" class="img-fluid" />
                              <div class="card-body p-0 pt-3">
                                   <h6 class="card-title text-primary">Quiltmaker</h6>
                                   <a href="" class="btn btn-primary btn-sm m-0">Buy Now <span class="text-muted ms-2 me-2">|</span> <sup>$</sup>9.99</a>
                              </div>
                         </figure>

                         <figure class="related-product card p-2 pt-0 border-0">
                              <img src="/images/CSQ_Cover_Front.jpg" alt="Creative Scrap Quilting" class="img-fluid" />
                              <div class="card-body p-0 pt-3">
                                   <h6 class="card-title text-primary">Creative Scrap Quilting</h6>
                                   <a href="" class="btn btn-primary btn-sm m-0">Buy Now <span class="text-muted ms-2 me-2">|</span> <sup>$</sup>9.99</a>
                              </div>
                         </figure>

                    </div>
               </div>
          </div>
     </div>
</section>