
<div class="star-rating bg-white d-flex align-items-center justify-content-start mb-3">
     <div class="text-warning pe-3">
          <i class="fa-solid fa-star-sharp"></i>
          <i class="fa-solid fa-star-sharp"></i>
          <i class="fa-solid fa-star-sharp"></i>
          <i class="fa-duotone fa-star-sharp-half"></i>
          <i class="fa-solid fa-star-sharp opacity-25"></i>
     </div>
</div>