
<div class="star-rating bg-white d-flex align-items-center justify-content-start rounded-3 py-2 px-3 shadow-lg small border position-absolute top-0 end-0 translate-start mt-n4 me-4">

     <div class="text-warning pe-3">
          <i class="fa-solid fa-star-sharp"></i>
          <i class="fa-solid fa-star-sharp"></i>
          <i class="fa-solid fa-star-sharp"></i>
          <i class="fa-duotone fa-star-sharp-half"></i>
          <i class="fa-solid fa-star-sharp opacity-25"></i>
     </div>
     <span class="d-flex flex-column align-items-end">
          <p class="tiny text-gray m-0">3.5 Stars Based on</p>
          <a href="" title="Read Reviews" class="small">43 Reviews</a>
     </span>
</div>