// Custom Theme Variables
$primary: #5062ad;
$secondary: #ad9b50;
$btn-border-radius: 1.6rem;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-secondary-color: white;
$dropdown-link-active-bg: var(--primary);
$headings-font-family: "Roboto Slab", serif;
$breadcrumb-margin-bottom: 0;
$enable-negative-margins: true;
$breadcrumb-font-size: 0.85rem;
$font-weight-base: 300;

$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: var(--bs-light);